
#wall .tag-1 {
  display: none;
}

#wall div#tag-2 {
  display: none;
}
/* This is HTML from site for tag 2:     <div id="tag-2"></div> */


div#wall #tag-3.slick.wicked {
  display: none;
}
/* This is HTML from site for tag 3:    <div id="tag-3" class="slick wicked"></div>*/


#wall .parent#tag-4 {
  display: none;
}
/* Here is HTML for tag 4. It is class parent so use a .    <div class="parent">
      <div id="tag-4"></div>
    </div>*/


div#wall div.parent #tag-5.slick {
  display: none;
}
/* Here is HTML for tag 5. It's a parent.     <div class="parent">
      <div id="tag-5" class="slick"></div>
    </div>
    <div class="parent">
          <div></div>
          <div>
              <div id="tag-5" class="slick"></div>
<div id="tag-5" class="slick"></div>

<div id="tag-5" class="slick"></div>

*/


 body div#wall div.parent div:last-child div#tag-6 {
  display: none;
}
/* This is HTML for tag 6       <div id="tag-6"></div>  */


body div#wall div.parent div:first-child > div#tag-7.slick {
  display: none;
}
/* This is HTML code for tag 7       <div class="parent">
      <div>
        <div id="tag-7" class="slick"></div>
      </div>
      <div></div>
    </div>
<div id="tag-7" class="slick"></div>
     */
