/* write your override styles here */
#wall .tag-1 {
  display: none;
}

.tag-1 {
  background: url(../images/tag-1.png) no-repeat;
  z-index: 7;
  display: block;
}

#tag-2 {
  opacity: 0.0;
  filter: alpha(opacity=0);
}

#tag-3 {
  opacity: 0.0;
  filter: alpha(opacity=0);
}

#tag-4 {
  opacity: 0.0;
  filter: alpha(opacity=0);
}

#tag-5 {
  opacity: 0.0;
  filter: alpha(opacity=0);
}

#tag-6 {
  opacity: 0.0;
  filter: alpha(opacity=0);
}

#tag-7 {
  opacity: 0.0;
  filter: alpha(opacity=0);
}
