/* write your override styles here id overrules class */

body {
  display: none;
  background: none;
  background-size: none;
}

#blank {
  display: none;
}

.tag-1, #tag-2, #tag-3, #tag-4, #tag-5, #tag-6, #tag-7{
  display: none
}
#wall {
  display: none
}

.slick .parent .wicked .parent{
  display: none;

}
