#wall .tag-1 { /* 010 < 110 */
  display: none;
}

#wall div#tag-2 { /* 200 < 201 */
  display: none;
}

div#wall #tag-3.slick.wicked { /* 211 < 221 */
  display: none;
}

#wall .parent #tag-4 { /* 200 < 210 */
  display: none;
}

div#wall div.parent #tag-5.slick { /* 221 < 222 */
  display: none;
}

body div#wall div.parent div:last-child div#tag-6 { /* 224 < 225 */
  display: none;
}

body div#wall div.parent div:first-child > div#tag-7.slick { /* 224 < 225 */
  display: none;
}
