/* write your override styles here */
#wall .tag-1 {
  display: none;
}

body #wall #tag-2 {
  display: none;
}

body #wall #tag-3  {
  display: none;
}

#wall .parent #tag-4 {
  display: none;
}

div#wall .parent .slick #tag-5 {
  display: none;
}
