/* write your override styles here */
#wall .tag-1 {
  display: none;
}

#tag-2 {
  display: none;

}
<div id="tag-2"></div>





#tag-3{
  display: none;

}
<div id="tag-3" class="slick wicked"></div>






#tag-4{
  display: none;

}
<div class="parent">
      <div id="tag-4"></div>
    </div>
<div id="tag-4"></div>



#tag-5{
  display: none;

}

#tag-6{
  display: none;

}

#tag-7{
  display: none;
  
}
