/* write your override styles here */

#wall div.tag-1,
#wall div#tag-2,
div#wall div#tag-3.slick,
#wall div#tag-4,
div#wall .parent div#tag-5.slick,
div#wall div.parent div:last-child div#tag-6,
body div#wall div.parent div>div#tag-7.slick {
    display: none;
}