/* write your override styles here */

#wall .tag-1 {/* added #wall at the beginning */
  display: none;
}

#wall div#tag-2 {/* added div element after #wall */
  display: none;
}

div#wall #tag-3.slick.wicked {/* added .wicked from html file */
  display: none;
}

#wall .parent #tag-4 {/* added .parent from html file */
  display: none;
}

div#wall div.parent #tag-5.slick {/* added div element before .parent class */
  display: none;
}

body div#wall div.parent div:last-child div#tag-6 {/* added body element at the beginning */
  display: none;
}

body div#wall div.parent div:first-child > div#tag-7.slick {/* added :first-child and div element */
  display: none;
}
