#wall .tag-1 {
  display: none;
}

div#wall div#tag-2 {
  display: none;
}

#wall #tag-3.wicked.slick {
  display: none;
}

#wall .parent #tag-4 {
  display: none;
}

div#wall div.parent div#tag-5.slick {
  display: none;
}

body div#wall div.parent div:last-child div > div#tag-6 {
  display: none;
}

body div#wall div.parent div > div#tag-7.slick {
  display: none;
}
