/* write your override styles here */

#wall .tag-1 {
  display: none;
}

#wall #tag-2 {
  display: none;
}

#wall .wicked {
  display: none;
}

.parent #tag-4 {
  display: none;
}

.parent .slick {
  display: none;
}

.parent div #tag-6 {
  display: none;
}

.parent div .slick {
  display: none;
}

